body {
  background: linear-gradient(90deg, rgb(5, 66, 28), #000000);
  max-width: 1400px;
  display: block;
  margin: auto;
}

.cat-info {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
/* .content {
  width: 400px;
} */
.image {
  border: 3px solid black;
  box-shadow: 5px 0 10px rgba(248, 248, 248, 0.3);
  display: block;
}
.main-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.text,
.header,
.temp {
  width: 400px;
  border: 2px solid black;
  padding: 30px;
  background: linear-gradient(90deg, rgb(5, 66, 28), #000000);
  color: black;
  transition: background-color 0.3s ease;
  box-shadow: inset 5px 5px 10px rgba(248, 248, 248, 0.3);
  color: white;
}
.header {
  margin-top: 0;
}
.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  top: 31;
  /* transform: translate(-50%, -50%); */
  border: 10px solid transparent;
  border-right-color: #fff;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
